html { -webkit-font-smoothing: antialiased; }

body {
	margin: 0; 
   	font-weight: 300;
	font-size: 8px;
	background: url(images/background.png) repeat;
}

.container {
	width: 810px;
	height: auto;
}

.header #logo {
	padding-left: 65px;
}

	 .inner_header {
		margin: 0 20px 0 20px;
}

.bxslider img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}	

.links  {
		float: right;
		margin-right: 62px;
		padding-top: 6px;
		display: inline-block;
		clear: both;
		list-style: none;
}

.links li {
		text-align: right;	
		padding-top: 0px;
		margin-bottom: 10px;
}	
.links li a {		
		text-decoration: none;
		border: none;
		font-family: "droid sans",helvetica,sans-serif;
		font-size: 14px;
		letter-spacing: 0.6px;
		color: #756e6e;
		opacity: .7;
}


.links li a:hover {
        color: #706666;
        color: rgba(112, 102, 102, 1);
        opacity: 1;
}

.links li a img {
	vertical-align: middle;
	margin-left: 10px;
}

li a {
        display: block;
        background-color: inherit;
        color: #a79d9d;

