html { -webkit-font-smoothing: antialiased; }

body {
	margin: 0; 
   	font-weight: 300;
	font-size: 8px;
	background: url(images/background.png) repeat;
}

.header #logo {
	padding-left: 65px;
}

	 .inner_header {
		margin: 0 20px 0 20px;
}	

	li #share {
		padding-top: 3px;
		float: right;
		margin-right: 18px;
	}

	ul.links {
		list-style-type: none;
		display: inline-block;
		float: right;
		clear: both;
		text-align: right;	
		padding-top: 15px;
	}	

 	a {		
		text-decoration: none;
		font-family: "droid sans",helvetica,sans-serif;
		font-size: 14px;
		border: none;
		font-weight: regular;
		letter-spacing: 0.6px;
		color: rgba(167,157,157,0.18);
		color: #a79d9d;
}

	 a:hover {
        color: #ba1a63;
    }

	li a {
        display: block;
        background-color: inherit;
        color: #a79d9d;
    }
	
	#email img, #share img {
		padding-left: 10px;
		vertical-align: middle;
		bo
}

.slider ul li {
	display: block;
}

